.forma{background-color:#DE7C7C;
margin:0; 
padding-top:5px;
padding-left:30px;
padding-bottom:10px;}
.forma h2 {
	margin-bottom: 20px;
	color: #474E69;
}


input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #DE7C7C;
	
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 300px;
	line-height: 18px;
}



.form label {
	margin-left: 10px;
	color: white;
}

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: white;
		
}
@media screen and (max-width:400px) {
	
	textarea{width:200px;}
	}
	
	@media screen and (max-device-width:400px) {
	
	textarea{width:200px;}
	}