
/*--Body--*/
body {
	background:#F9C4C4;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    position: relative;
	max-width:1350px;
	width:100%;
	margin:0 auto;
	border:1px solid #DE7C7C;
}



/*--Logo Meni--*/

.zaglavlje{background-color:white;}
.dugme {
    background-color: #DE7C7C;
    color: white;
    padding: 16px;
    font-size: 16px;
	border:none;
    cursor: pointer;
}


.dugme:hover{
    background-color: #DE7C7C;
}


.menu {
	
    position: relative;
    display:inline-block;
}


.dugme-sadrzaj {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
	border:1px solid  #DE7C7C;
   
}


.dugme-sadrzaj a {
    color:  #DE7C7C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dugme-sadrzaj a:hover {background-color: #DE7C7C; color:white;}


.show {display:block;}


/*--Header--*/
#naslov {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
  max-width:1350px;
  width:100%;
}
#naslov h1{
	color:white;
	font-style:italic;
	font-size:30px;
	}
#naslov .header-tekst {
  background: none;
  border: 10px hidden;
  padding: 62px 20px 62px 20px;
}

.naslov-one {
	
  background-image:url('naslovna.jpg');
  background-repeat:no-repeat;
 
  height: 30vh;
  min-height: 200px;
  padding-top: 100px;
  max-height:200px;
  max-width:1350px;
  width:100%;
}

/*--kraj--*/
.kraj{border:1px hidden ; background-color:white;padding-bottom:10px; }
.kraj h3{font-size:20px;font-style:'Source Sans Pro', sans-serif;  }
.kraj p{font-size:15px;font-style:'Source Sans Pro', sans-serif;}
.rvrijeme h3{color:#DE7C7C;}
.rvrijeme p{color:#DE7C7C;}

.rvrijeme{text-align:center;width:100%;max-width:1350px; background-color:#F9C4C4 ;padding-top:5px;padding-bottom:5px;}
.email{
float: left;
width: 33.33%;
max-width:100%; 
background-color:white;
text-align:center;
border-bottom: thick solid #DE7C7C ;
background-image:url('email.png');
background-repeat:no-repeat;
background-position:left;

background-size:15% ;
padding-top:50px;
padding-bottom:50px;

}
.email p{text-align:center;}
.adresa {
	background-color:white;
float: left;
width: 33.33%;
max-width:100%; 

text-align:center;
border-bottom: thick solid #DE7C7C ;
background-image:url('address.png');
background-repeat:no-repeat;
background-position:left;

background-size:15% auto;

padding-top:50px;
padding-bottom:50px;


}
.telefon{
	float:left;
	width: 33.33%;
max-width:100%; 
	text-align:center;
	border-bottom: thick solid #DE7C7C ;
	background-image:url('phone.png');
background-repeat:no-repeat;

background-size:15%;
background-position:left;
background-color:white;

	padding-top:50px;
	padding-bottom:50px;
	
}

@media screen and (max-width:768px) {
  .body{}
  
  .menu ul li{display:block; padding:2px;}
  
  
  .email {width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
.email p,h3{text-align:center;}
  .telefon{width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
  .adresa{width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
#naslov h1{
	
	font-size:20px;
	}
	

}

@media screen and (max-device-width:768px) {
  .body{}
  
  .menu ul li{display:block; padding:2px;}
  
  
  .email {width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
.email p,h3{text-align:center;}
  .telefon{width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
  .adresa{width:100%;padding-top:10px;
	padding-bottom:10px;
	background-position:left;
background-size:10%;}
#naslov h1{
	
	font-size:20px;
	}
	
	

}


